<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ConsultPro</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    </head>
<body>
    <div class="login-form">
        <form method="POST" action="/login">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
            <!-- Forgot password link -->
            <a href="/forgot-password" class="forgot-password">Forgot password?</a>
        </form>
    </div>
    <!-- Logo -->
    <img class="logo" src="{{ url_for('static', filename='images/ConsultPro.png') }}" alt="ConsultPro Logo">
</body>
</html>